{{top-area title="Projects" subtitle="A list of all your projects" class="row" icon="fa fa-list"}}


<div class="container">
  {{#projects-datatable}}
    {{#each}}
      <tr>
        <td>{{#link-to 'project' this }}<i class="fa fa-film"></i>  {{name}}{{/link-to}}</td>
        <td>{{format-date principalStart 'LL'}}</td>
        <td>{{format-date principalEnd 'LL'}}</td>
        <td>{{po_count}}</td>
      </tr>
    {{/each}}
  {{/projects-datatable}}
</div>
